include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title BIM-проектирование промышленных и гражданских зданий и сооружений
  body
    .wrapper
      .maincontent
        .welcome
          .header
            .logo.header__logo
              +image('content/logo.png', '')
            ul.header__contacts
              li.header__contacts-item
                +icon('letter', '')
                a.header__contacts-link(href="mailto:info@enstil.ru" target="_blank") info@enstil.ru
              li.header__contacts-item
                +icon('phone', '')
                a.header__contacts-link(href="tel:+78129886231" target="_blank") 8 (812) 988-62-31
          section.lead
            .lead__wrapper
              .lead__left
                h1.lead__title BIM-проектирование промышленных и гражданских зданий и сооружений
                p.lead__subtitle Выполняем комплексное проектирование зданий и сооружений любой сложности. Гарантируем выбор оптимальных решений по стоимости капитальных затрат, а также снижающих сроки реализации проекта. Специалисты нашей компании имеют большой опыт работы с иностранными проектными и строительно-монтажными компаниями, в том числе и по IPC-контрактам.
                a.lead__button(href="#services") Все услуги
              .lead__right
                .lead__image-wrapper 
                  +image('content/этажерка.png', '')

          .triangles
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles-item.triangle
              polygon(points="0,0 0,100, 1000,100")
            svg(viewbox="0 0 1000 100" preserveAspectRatio="none").triangles-item.triangle
              polygon(points="1000,0 1000,100, 0,100")
        section.services
          a(name="services")
          .services__wrapper
            h2.services__title Наши услуги
            .services__content
              .services__block
                .services__image-wrapper 
                  +image('content/kp.jpg', '')
                .services__desc
                  h3.services__block-title Комплексное проектирование
                  .services__block-desc
                    p Выполняем работы от концепции до ввода в эксплуатацию объекта.
                    ul
                      li разработка концепции;
                      li сбор исходно-разрешительной документации;
                      li оценка технической возможности подключения к сетям;
                      li выполнение технического обследования зданий и сооружений;
                      li реализация стадии ОТР, ПД, РД;
                      li сопровождение при прохождении экспертизы;
                      li авторский надзор;
              .services__block
                .services__desc.services__desc_full-width
                  h3.services__block-title Обследование зданий и сооружений
                  .services__block-desc
                    p Выполняем техническое обследования для определения текущего технического состояния строительных конструкций, соответствия их действующим нормам, а также возможности использования существующих конструкций при реконструкции (расширении производства, установке нового оборудования и новых технологических линий)

              .services__block
                .services__desc
                  h3.services__block-title Разработка КМД (slider)
                  .services__block-desc
                    p Отдельным направлением деятельности компании является разработки чертежей марки КМД (конструкции металлические деталировочные). Работаем как с крупными заводами, так и с небольшими строительно-монтажными компаниями.
                    p Выполняем работы любой сложности в сжатые сроки.
                .services__image-wrapper 
                  +image('content/эстакада.png', '')

              
              .services__block
                .services__image-wrapper 
                  +image('content/этажерка.png', '')
                .services__desc
                  h3.services__block-title Конструктивные и объемно-планировочные решения
                  .services__block-desc
                    p Разработка раздела КМ (Конструкции металлические) и КЖ (Конструкции железобетонные) в программном комплексе Tekla Structures. Расчет строительных конструкций – Lira/SCAD.
                    p При желании заказчика возможно одностадийное проектирование КМ/КМД.
                    p Разработка раздела АР (Архитектурные решения) выполняются в Autodesk Revit.
              .services__block
                .services__desc
                  h3.services__block-title Инженерные сети и оборудование
                  .services__block-desc
                    p Выполним проекты инженерных системы и коммуникаций в BIM. Гарантируем подбор оптимального оборудования на основе расчетов потребления и согласно нормативным показателям. Учитываем пожелания Заказчика.                  
                    ul
                      li Электроснабжение и оборудование;
                      li Водоснабжение и канализация;
                      li Отопление, вентиляция и кондиционирование;
                      li Слаботочные сети;
                      li Система газоснабжения;
                      li Технологические решения;
                      li Автоматизация и диспетчеризация.
                .services__image-wrapper 
                  +image('content/сети.png', '')

              .services__block

                .services__desc.services__desc_full-width
                  h3.services__block-title Реинжениринг. Создание BIM-модели на основечертежей в 2D
                  .services__block-desc
                    p Воссоздадим полноценную BIM-модель на основе предоставленных 2D чертежей.
                    p Выполним проверку на коллизии с отчетом.
              
              .services__block
                .services__desc.services__desc_full-width
                  h3.services__block-title Специальные разделы проекта
                  .services__block-desc
                    p Разрабатываем все специальные дисциплины проекта:
                    ul
                      li Мероприятия по обеспечению пожарной безопасности
                      li Мероприятия по обеспечению доступа инвалидов
                      li Перечень мероприятий по охране окружающей среды
                      li Мероприятия гражданской обороны и предупреждения чрезвычайных ситуаций
                      li Мероприятия по обеспечению соблюдения требований энергетической эффективности
                      li Требования к обеспечению безопасной эксплуатации зданий
                      li Разработка природоохранной документации ООС
                      li Разработка раздела "Оценка воздействия на окружающую среду" (ОВОС)
                      li Защита строительных конструкций от коррозии
                  

        section.contacts
          .map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A25b909aad026654f9760c361f0a7c22a0f2c012d78f81c4935d52418804b090d&amp;width=100%25&amp;height=536&amp;lang=ru_RU&amp;scroll=false"></script>
          .contacts__block-wrapper
            .contacts__block
              h2.contacts__block_title ООО "ЭНСТИЛ"
              .contacts__block-item.contacts__block-item_address
                .contacts__block-title Адрес
                .contacts__block-value Санкт-Петербург, Удельный Проспект, д. 5 </br>БЦ Удельный

              .contacts__block-item.contacts__block-item_phone
                .contacts__block-title Позвонить
                a.contacts__block-value(href="tel:+78129886231" target="_blank") 8 (812) 988-62-31

              .contacts__block-item.contacts__block-item_email
                .contacts__block-title Отправить запрос
                a.contacts__block-value(href="mailto:info@enstil.ru" target="_blank")  info@enstil.ru