include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome
          .header
            .logo.header__logo
              +image('content/logo.png', '')
            ul.header__contacts
              li.header__contacts-item
                +icon('letter', '')
                a.header__contacts-link(href="mailto:info@enstil.ru") info@enstil.ru
              li.header__contacts-item
                +icon('phone', '')
                a.header__contacts-link(href="tel:+78129886231") 8 (812) 988-62-31
          section.lead
            .lead__wrapper
              .lead__left
                h1.lead__title Проектирование инженерных систем и оборудования
                p.lead__subtitle Выполняем проекты инженерных системы и коммуникаций в BIM. Гарантируем подбор оптимального оборудования на основе расчетов потребления и согласно нормативным показателям.
                a.lead__button(href="#") Все услуги
              .lead__right
                .lead__image-wrapper 
                  +image('content/lead.png', '')

        section.services
          .services__wrapper
            h2.services__title Наши услуги
            .services__content
              .services__block
                .services__image-wrapper 
                  +image('content/el1.jpg', '')
                .services__desc
                  h3.services__block-title Конструктивные и объемно-планировочные решения
                  .services__block-desc
                    p Разработка раздела КМ (Конструкции металлические) и КЖ (Конструкции железобетонные) в программном комплексе Tekla Structures. Расчет строительных конструкций – Lira/SCAD.
                    p При желании заказчика возможно одностадийное проектирование КМ/КМД.
                    p Разработка раздела АР (Архитектурные решения) выполняются в Autodesk Revit.
              .services__block
                .services__desc
                  h3.services__block-title Инженерные сети и оборудование
                  .services__block-desc
                    p Выполняем проекты инженерных системы и коммуникаций в BIM. Гарантируем подбор оптимального оборудования на основе расчетов потребления и согласно нормативным показателям. Учитываем пожелания Заказчика.
                    ul
                      li Электроснабжение и оборудование;
                      li Водоснабжение и канализация;
                      li Отопление, вентиляция и кондиционирование;
                      li Слаботочные сети;
                      li Система газоснабжения;
                      li Технологические решения;
                      li Автоматизация и диспетчеризация.
                .services__image-wrapper 
                  +image('content/el1.jpg', '')
                


              .services__block
                .services__image-wrapper 
                  +image('content/el1.jpg', '')
                .services__desc
                  h3.services__block-title Конструктивные и объемно-планировочные решения
                  .services__block-desc
                    p Разработка раздела КМ (Конструкции металлические) и КЖ (Конструкции железобетонные) в программном комплексе Tekla Structures. Расчет строительных конструкций – Lira/SCAD.
                    p При желании заказчика возможно одностадийное проектирование КМ/КМД.
                    p Разработка раздела АР (Архитектурные решения) выполняются в Autodesk Revit.
              .services__block
                .services__desc
                  h3.services__block-title Конструктивные и объемно-планировочные решения
                  .services__block-desc
                    p Разработка раздела КМ (Конструкции металлические) и КЖ (Конструкции железобетонные) в программном комплексе Tekla Structures. Расчет строительных конструкций – Lira/SCAD.
                    p При желании заказчика возможно одностадийное проектирование КМ/КМД.
                    p Разработка раздела АР (Архитектурные решения) выполняются в Autodesk Revit.
            

                .services__image-wrapper 
                  +image('content/el1.jpg', '')

        section.contacts
          .map
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A25b909aad026654f9760c361f0a7c22a0f2c012d78f81c4935d52418804b090d&amp;width=100%25&amp;height=536&amp;lang=ru_RU&amp;scroll=false"></script>
          .contacts__block-wrapper
            .contacts__block
              h2.contacts__block_title ООО "ЭНСТИЛ"
              .contacts__block-item.contacts__block-item_address
                .contacts__block-title Адрес
                .contacts__block-value Санкт-Петербург, Удельный Проспект, д. 5 </br>БЦ Удельный

              .contacts__block-item.contacts__block-item_phone
                .contacts__block-title Позвонить
                a.contacts__block-value(href="tel:+78129886231") 8 (812) 988-62-31

              .contacts__block-item.contacts__block-item_email
                .contacts__block-title Отправить запрос
                a.contacts__block-value(href="mailto:info@enstil.ru")  info@enstil.ru
